:root {
  --max-width: 1440px;
  --border-radius: 12px;

  --DarkGray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --VeryDarkGray: hsl(0, 0%, 27%);
}

body {
  font-family: 'League Spartan', sans-serif;
}

/** NavButtons **/
/* Next Button */
.css-e1mnrr,
/* Prev Button */
.css-zbwuqm {
  --NavBtnSize: 56px;
  width: var(--NavBtnSize);
  height: var(--NavBtnSize);
  top: calc(50% - 81px);
}

.css-zbwuqm {
  left: calc(100vw - (2*var(--NavBtnSize)));
}

.arrowIcon {
  width: 10px;
  height: 16px;
  transform: translateX(-4px);
}

@media screen and (min-width: 1005px) {
  .css-e1mnrr,
  .css-zbwuqm {
    --NavBtnSize: 80px;
    width: var(--NavBtnSize);
    height: var(--NavBtnSize);
  }

  .css-e1mnrr {
    margin-left: 0px;
    left: calc(839px + var(--NavBtnHeight));
    top: calc(534px - 80px);
    right: calc(41.8vw - (2*80px));
  }

  .css-zbwuqm {
    margin-left: 0px;
    left: 58.2vw;
    bottom: 0;
    top: unset;
  }

  .arrowIcon {
    width: 15px;
    height: 25px;
    transform: translateX(0);
  }
}

.css-e1mnrr:hover,
.css-zbwuqm:hover {
  background-color: var(--VeryDarkGray);
}

/** Image components **/
.imageAbout {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}

/** drawer - ListItemText > span **/ 
.css-10hburv-MuiTypography-root {
  font-family: 'League Spartan', sans-serif;
  font-size: 0.99rem;
  transform: translateY(3px);
}
.css-10hburv-MuiTypography-root:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;

  height: 2px;
  width: 0%;
  background: transparent;
  transition: width .5s ease,backgroundColor •5s ease, right .5s ease;
}

.css-1d4vqq0-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: transparent;
}

.css-1d4vqq0-MuiButtonBase-root-MuiListItemButton-root:hover .css-10hburv-MuiTypography-root:after {
  width: 50%;
  left: 25%;
  background: var(--Black);
}